#logo img {
	width: 100px;
}
.box-login {
    max-width: 340px;
    margin-left: 37%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.about-banner .overlay-bg {
    background: rgba(4, 9, 30, 0.8);
}

li.li-login {
	background: #f8b600;
}

.mensagem.sucesso {
    position: fixed;
    top: 100px;
    background: #28a745a8;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    left: 1%;
    z-index: 10;
}
label.label {
    width: 100%;
    text-align: left;
    font-weight: 600;
}

div.box-efetuar-reserva {
    max-width: 700px;
    margin: auto;
}

.mensagem.erro {
    position: fixed;
    top: 100px;
    background: #f52034bf;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    left: 1%;
    z-index: 10;
}